/* CSS Document */
.wrap-login{ width:100%; max-width:1920px; min-width:1050px; _width:expression(this.scrollWidth > 1920 ? "1920px" : (this.scrollWidth < 1050? "1050px" : "auto")); overflow:hidden; margin:0 auto; position:relative; background:url(/image/loginbg1.jpg) center top; min-height:100%;}
.login-top{ height:100px; position:fixed; left:0; top:0; right:0; line-height:100px; padding-left:125px; color:#2cb7c9; font-size:30px; font-weight:bold; background:url(/image/fade.png);}
.login{ width:400px; background:#fff; padding:35px 50px; border-radius:10px; position:fixed; color:#1f1d1d;}
h3.login-title{ font-size:24px; text-align:center; margin-bottom:40px;}
.login-list{ overflow:hidden; position:relative; width:400px; margin:0 auto 20px;}
.login-list input{ width:368px; padding:0 15px; border:1px solid #a0a0a0; border-radius:5px; height:48px; line-height:48px; color:#666; font-size:16px; background:none;}
.login-list input.w220{ width:220px;}
.login-list input:focus{ border:1px solid #2cb7c9;}
.login-list label{ position:absolute; left:16px; top:0; cursor:auto; height:50px; line-height:50px;}
span.checktip{ display:block; padding-top:3px; color:#f00; clear:both;}
.login-more{ overflow:hidden; margin:0 auto 40px; width:400px;}
.login-auto{ width:49%; float:left; font-size:20px;}
.login-more input{ width:22px; height:22px; cursor:pointer;}
.login-forget{ width:50%; float:right; text-align:right; font-size:20px;}
.login-forget a{ color:#2cb7c9;}
.submit-input{ width:400px; height:50px; border-radius:25px; border:0; cursor:pointer; color:#fff; font-size:20px; background:#fea600; display:block; margin:0 auto; line-height:50px;}
.no-user{ text-align:center; margin-top:20px; font-size:20px;}
.no-user a{ color:#2cb7c9;}
.reg-login{ background:url(/image/loginbg2.jpg) center top;}
.login-list input.reg-code{ width:126px; height:50px; color:#fff; background:#2cb7c9; border-radius:5px; border:0; margin-left:17px; cursor:pointer;}
.login-list input.reg-code.no-code{ background:#ccc; cursor:auto;}
.back-bg{ background:#fff;}
.wrap{ width:100%; max-width:1920px; min-width:1050px; _width:expression(this.scrollWidth > 1920 ? "1920px" : (this.scrollWidth < 1050? "1050px" : "auto")); overflow:hidden; margin:0 auto; position:relative; height:100%;}
.back-top{ height:100px; line-height:100px; padding-left:125px; color:#fff; font-size:30px; font-weight:bold; background:#2cb7c9;}
.find{ width:650px; margin:99px auto 0; overflow:hidden;}
.find-nav{ overflow:hidden;}
.find-nav li{ float:left;}
.find-nav li .find-step{ width:100px; text-align:center; float:left; font-size:16px; color:#666;}
.find-nav li .find-line{ width:174px; height:2px; background:#ccc; float:left; margin-top:24px;}
.find-nav li .find-step span{ display:block; width:50px; height:50px; border-radius:50%; color:#fff; background:#ccc; line-height:50px; text-align:center; font-size:26px; font-weight:bold; margin:0 auto 18px;} 
.find-nav li.active .find-step{ color:#2cb7c9;}
.find-nav li.active .find-step span{ background:#2cb7c9;}
.find-nav li.active .find-line{ background:#2cb7c9;}
.find-all{ width:617px; background:#f5fbfc; padding:56px 0 0; min-height:336px; margin:45px auto 15px; border-radius:9px; border:1px solid #dedede;-webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);-moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.25);}
.find-title{ font-size:24px; text-align:center; margin-bottom:45px;}
.header{ height:90px; line-height:90px; overflow:hidden; background:#fff; position:fixed; left:0; top:0; right:0; z-index:6; max-width:1920px; min-width:1050px; _width:expression(this.scrollWidth > 1920 ? "1920px" : (this.scrollWidth < 1050? "1050px" : "auto"));-webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);-moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.15);}
.logo{ width:40%; float:left; font-size:30px; color:#2cb7c9; font-weight:bold; padding-left:32px;}
.header-right{ width:50%; float:right; text-align:right; font-size:18px; padding-right:32px;}
.header-right p{ width:44px; height:44px; display:inline-block; vertical-align:middle; background:url(/image/icon.png) -74px 0 no-repeat; margin:0 5px 0 0; overflow:hidden; border-radius:50%;}
.header-right p img{ display:inline-block; width:44px; height:44px;}
.header-right a{ color:#2cb7c9; margin-left:31px;}
.sidebar{ position: absolute; left:0; top:90px; bottom:0; width:200px; background:#203240; z-index:5; overflow:auto;}
.container{ overflow:auto; position:absolute; top:90px; right:0; bottom:0; left:200px;}
.sidebar ul{ overflow:hidden;}
.sidebar li{ height:100px; line-height:100px; text-align:center;}
.sidebar li a{ display:block; height:100px; color:#fff; font-size:20px;}
.sidebar li.on{ background:#2cb7c9;}
.sidebar li em{ display:inline-block; width:32px; height:30px; vertical-align:middle; background:url(/image/icon.png) 0 -97px; margin:-3px 12px 0 0;}
.sidebar li em.side2{ background-position:-34px -97px;}
.sidebar li em.side3{ background-position:-68px -97px;}
.sidebar li em.side4{ background-position:-102px -97px;}
.sidebar li em.side5{ background-position:0 -129px;}
.banner img{ display:block; width:100%;}
.news{ margin:25px 30px 30px; background:#fff; padding:15px 36px 10px 20px; overflow:hidden;}
.news-left{ width:94px; height:23px; background:url(/image/icon.png) 0 -72px no-repeat; margin:15px 20px 0 0; float:left;}
.news-mid{ width:860px; float:left; border-left:2px solid #f0f0f0; height:60px; padding-left:40px; position:relative; font-size:12px; color:#bbbebe;}
.news-mid i.dot{ position:absolute; display:block; width:8px; height:8px; background:url(/image/icon.png) -128px -28px no-repeat; left:20px; top:23px;}
.news-mid p{ font-size:16px; color:#2cb7c9; margin-bottom:10px; padding-top:3px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.news-mid p span{ font-size:24px; font-weight:bold; color:#0e0f0f; display:inline-block; vertical-align:middle; margin:-3px 6px 0 0;}
.news-right{ width:225px; float:right; padding-top:12px;}
.news-right a{ display:block; width:96px; height:30px; line-height:30px; border-radius:4px; color:#fff; font-size:16px; text-align:center; font-weight:bold; float:left;}
.enter{ overflow:hidden; padding:0 30px;}
.enter h3{ border-bottom:1px solid #dcdcdc; padding-bottom:5px; font-size:18px; color:#606060; font-weight:bold; margin-bottom:20px;}
.enter ul{ overflow:hidden; margin-bottom:50px;}
.enter li{ width:250px; height:108px; font-size:16px; font-weight:bold; float:left; margin-right:30px;}
.enter li a{ display:block; width:135px; height:113px; padding:45px 0 0 115px; color:#2cb7c9;}
.enter li.in1{ background:#fff url(/image/ding4.png) left bottom no-repeat;}
.enter li.in2{ background:#fff url(/image/ding1.png) left bottom no-repeat;}
.enter li.in3{ background:#fff url(/image/ding5.png) left bottom no-repeat;}
.enter li.in4{ background:#fff url(/image/ding1.png) left bottom no-repeat;}
.enter li.in5{ background:#fff url(/image/ding2.png) left bottom no-repeat;}
.enter li.in6{ background:#fff url(/image/ding3.png) left bottom no-repeat;}
.enter li.in7{ background:#fff url(/image/ding4.png) left bottom no-repeat; float:right; margin-right:0;}
.inner-banner{ height:250px; background:url(/image/banner.jpg) left top no-repeat;}
.inner{ padding:35px 30px;}
h4.title{ font-size:16px; font-weight:bold; color:#999; margin-bottom:22px;}
.rent-nav{ background:#fff; height:66px; line-height:64px; text-align:center; overflow:hidden; margin-bottom:30px;}
.rent-nav .rent-text{ display:inline-block; width:151px; text-align:center; font-size:18px; color:#999; font-weight:bold; margin:0 2%;}
.rent-nav .rent-text.active{ color:#2cb7c9; border-bottom:2px solid #2cb7c9;}
.rent-nav .rent-text.on{ color:#2cb7c9;}
.rent-nav .rent-text.on em{ display:inline-block; width:20px; height:20px; background:url(/image/icon.png) -76px -46px; vertical-align:middle; margin-left:6px;}
.rent-nav .rent-line{ display:inline-block; width:11%; height:1px; overflow:hidden; background:#c9c9c9; vertical-align:middle;}
.rent-nav .rent-line.active{ background:#2cb7c9;}
.rent-way{ overflow:hidden; margin:0 0 30px -1%;}
.rent-way li{ width:20.08%; height:250px; background:#fff; padding:23px 23px 15px; margin:0 0 20px 1%; float:left;}
.rent-way li .way-top{ overflow:hidden;}
.rent-way li .way-name{ width:50%; float:left; font-size:24px; color:#0e0f0f; font-weight:bold;}
.rent-way li .way-name span{ border-bottom:2px solid #2cb7c9; display:inline-block; padding-bottom:2px;}
.rent-way li .way-more{ width:49%; float:right; text-align:right; padding-top:12px;}
.rent-way li .way-more a{ color:#2cb7c9;}
.rent-way li .way-title{ font-size:18px; color:#0e0f0f; margin-top:8px; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; overflow:hidden;}
.rent-way li p{ font-size:16px; line-height:20px; color:#999; text-align:justify; text-justify:inter-ideograph; overflow:hidden; margin:10px 0 0; height:120px; overflow:hidden;}
.rent-way .way-choice{ border-top:1px solid #d2d2d2; padding-top:15px; margin-top:10px;}
.rent-way .way-choice a{ display:block; height:30px; line-height:30px; background:#fea600; color:#fff; font-size:16px; font-weight:bold; text-align:center; border-radius:4px;}
.fade{ position:fixed; top: 0%; left: 0%; background: black; z-index:11; -moz-opacity: 0.6; opacity:.60; filter: alpha(opacity=65); width:100%; height:100%; display:none;}
.alert{ position:fixed; z-index:12; display:none;}
.alert-nav{ text-align:right; padding:14px 20px;}
.alert-close{ display:inline-block; width:26px; height:26px; background:url(/image/icon.png) no-repeat -100px -46px;}
.rent-num{ width:617px; background:#f5fbfc; border-radius:5px; padding-bottom:80px;}
.rent-number{ text-align:center;}
.rent-sl{ font-size:18px; margin:40px 0 60px;}
.rent-sl input{ width:159px; height:48px; line-height:48px; text-align:center; border-radius:5px; border:1px solid #a0a0a0; font-size:20px; vertical-align: bottom; margin:0 3px;}
.rent-sl input:focus{ border:1px solid #2cb7c9;}
.rent-tit{ font-size:24px; padding-top:8px;}
.rent-sure{ display:block; background:#2cb7c9; color:#fff; border-radius:5px; text-align:center; line-height:50px; font-size:20px; width:400px; margin:0 auto; cursor:pointer; border:0;}
.message{ width:660px; margin:0 auto;}
.message-info{ background:#fff; padding:48px 0 38px; text-align:center; color:#333;}
i.msg-icon{ display:block; width:79px; height:79px; margin:0 auto; background:url(/image/icon.png) -146px 0 no-repeat;}
i.msg-icon.success{ background-position:-146px -82px;}
.message-info .msg-title{ font-size:18px; font-weight:bold; margin:28px 0 5px;}
.message-next{ text-align:center; padding:45px 0 60px;}
a.msg-sure{ width:190px; height:44px; line-height:44px; text-align:center; color:#fff; border-radius:4px; background:#2cb7c9; font-size:16px; font-weight:bold; display:inline-block;}
a.msg-update{ width:118px; height:44px; line-height:44px; text-align:center; color:#fff; border-radius:4px; background:#5997ca; font-size:16px; font-weight:bold; display:inline-block;}
.internet{ overflow:hidden; margin-left:-.5rem;}
.internet li{ height:210px; border:1px solid #f0f0f0; background:#fff; width:17.1%; float:left; margin:0 .5% 20px; color:#333; padding:0 10px;}
.internet li .inter-title{ font-size:18px; font-weight:bold; border-bottom:2px solid #eee; padding:10px 0 6px 10px; margin-bottom:6px;}
.inter-info{ height:115px; font-size:15px; padding-left:10px; overflow:hidden;}
.internet li.active{ border:1px solid #2cb7c9;}
.inter-info p{ margin-bottom:5px;}
.inter-text{ color:#f00; padding-left:10px;}
.inter-text a{ color:#2cb7c9;}
.inter-text a.tde{ text-decoration:underline;}
.inter-add a{ display:block; width:100%; height:100%; text-align:center; font-size:16px; color:#2cb7c9;}
i.add-icon{ display:block; width:21px; height:21px; background:url(/image/icon.png) -122px 0 no-repeat; margin:87px auto 28px;}
.refer{ background:#fff; text-align:center; font-weight:bold; color:#999; padding:60px 0; margin-bottom:50px;}
i.refer-icon{ display:inline-block; width:70px; height:70px; background:url(/image/icon.png) 0 0 no-repeat;}
.refer p{ font-size:20px; color:#2cb7c9; margin:30px 0;}
.mine{ padding:50px 0; background:#fff; margin-bottom:50px;}
.mine-all{ width:510px; margin:0 auto;}
.mine-name{ width:105px; float:left; height:50px; line-height:50px; font-size:18px; color:#333;}
.mine-name em{ color:#ef3f3f;}
.mine-name.w520{ width:520px;}
.idcard{ clear:both; overflow:hidden; padding-left:7px; margin-bottom:10px;}
.idcard-info{ width:240px; float:left;}
.idcard-info p.id-tips{ color:#666; margin-top:8px;}
.mine-input{ width:96px; height:30px; text-align:center; line-height:30px; background:#2cb7c9; color:#fff; font-size:16px; font-weight:bold; border:0; border-radius:4px; cursor:pointer;}
.order{ background:#fff; color:#333; margin-bottom:50px;}
.order-tab thead td{ background:#203240; color:#fff; font-size:18px;}
.order-tab td{ height:80px; text-align:center; font-size:16px;}
a.order-btn{ display:inline-block; height:30px; line-height:30px; font-size:16px; color:#fff; font-weight:bold; padding:0 10px; border-radius:4px; margin:2px 0;}
.add-nav{ overflow:hidden; height:50px; text-align:center; margin:0 0 15px;}
.add-nav li{ width:33.333%; float:left; background:#fff; height:50px; line-height:50px; font-size:18px; font-weight:bold; color:#53c2d1;}
.add-nav li.active{ background:#53c2d1; color:#fff;}
.add-city{ width:400px; float:left;}
.add-shen{ padding-left:1px; margin-bottom:12px;}
.add-shen select{ width:130px; height:48px; border:1px solid #a0a0a0; border-radius:5px; cursor:pointer; padding-left:5px; font-size:14px;}
.login-list textarea{ width:368px; padding:15px 15px 0; border:1px solid #a0a0a0; border-radius:5px; height:83px; color:#666; font-size:16px; background:none; resize: none;}
.login-list textarea:focus,.detail-end textarea:focus{ border:1px solid #2cb7c9;}
.add-name{ width:142px; float:left; height:50px; line-height:50px; font-size:18px; color:#333; text-align:right; padding-right:5px;}
.add-name em,.audit-name em{ color:#ef3f3f;}
.add-all{ width:550px; margin:0 auto;}
.add-ba{ width:480px; padding-top:12px;}
.add-ba p{ width:120px; float:left; font-size:16px; margin-bottom:20px;}
.add-ba p input{ width:21px; height:21px; cursor:pointer;}
.add-ba p label{ cursor:pointer;}
.add-tips{ text-align:right; font-size:16px; color:#f00;}
.add-input{ height:44px; text-align:center; line-height:44px; background:#2cb7c9; color:#fff; font-size:16px; font-weight:bold; border:0; border-radius:4px; cursor:pointer; padding:0 32px; display:inline-block;}
.audit-all{ width:1075px; margin:0 auto;}
.audit-name{ width:333px; float:left; height:50px; line-height:50px; font-size:18px; color:#333; text-align:right; padding-right:3px;}
.audit-name.w700{ width:700px; padding-top:20px;}
.audit-name.w580{ width:580px;}
.mine-list{ overflow:hidden;}
.nooverflow{ overflow:inherit;}
.audit-img{ width:190px; float:left;}
.audit-tip{ clear:both; padding-top:8px; color:#666;}
.audit-tip.w630{ width:630px;}
.audit-notice{ width:321px; float:left; padding:80px 0 0 14px; color:#666;}
.audit-backup{ clear:both;}
a.audit-more{ width:142px; height:44px; text-align:center; line-height:44px; background:#2cb7c9; color:#fff; font-size:16px; font-weight:bold; border:0; border-radius:4px; cursor:pointer; display:inline-block;}
.appren-sel{ width:142px; height:44px; float:left; overflow:hidden; position:relative;}
.appren-sel input{ opacity:0;}
.appren-sel label{ display:block; width:142px; height:44px; text-align:center; line-height:44px; background:#2cb7c9; color:#fff; font-size:16px; font-weight:bold; border:0; border-radius:4px; cursor:pointer; position:absolute; top:0; left:0; z-index:1;}
.apprend-notice{ width:560px; float:left; padding:22px 0 0 15px; color:#666;}
.append{ width:735px; float:left;}
.add-data{ width:190px; float:left;}
.netbar{ background:#fff; padding:27px; color:#333; margin-bottom:20px;}
.net-title{ font-size:20px; font-weight:bold; margin-bottom:30px;}
.net-title a{ font-size:14px; font-weight:normal; color:#2cb7c9; margin-left:20px;}
.netbar-all{ overflow:hidden; font-size:18px;}
.net-left{ float:left;}
.net-mid{ float:left;}
.net-mid p{ height:30px; line-height:30px; margin-bottom:12px;}
.net-right{ float:right;}
a.check-btn{ display:block; width:134px; height:30px; line-height:30px; text-align:center; font-size:16px; color:#fff; background:#5997ca; border-radius:4px; margin-bottom:12px; font-weight:bold;}
.honor-nav{ overflow:hidden; margin-bottom:65px;}
.honor-nav li{ width:33.333%; float:left; text-align:center; background:#54bac8; margin:10px 0; height:50px; line-height:50px; color:#fff; font-weight:bold; font-size:18px;}
.honor-nav li.active{ padding:10px 0; margin:0; background:#2cb7c9;}
.indent{ float:left; padding-right:45px;}
.indent p{ margin-bottom:22px;}
.detail-end{ width:100%;}
.detail-end textarea{ width:100%; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box; height:132px;}
.pay-all{ padding:44px 0; margin-bottom:20px;}
.pay-text{ font-size:16px; color:#333; margin-top:-10px; font-weight:normal;}
.pay-text span{ font-weight:bold; font-size:18px;}
.pay-num{ font-size:18px; color:#333; margin-top:-18px;}
.pay-num span{ font-size:24px; color:#2cb7c9; font-weight:bold; margin:0 3px;}
.pay-nav{ overflow:hidden; width:648px; margin:44px auto 55px;}
.pay-nav li{ width:142px; height:44px; line-height:44px; text-align:center; background:#2cb7c9; border-radius:5px; margin:0 37px; float:left;}
.pay-nav li a{ display:block; height:100%; color:#fff; font-size:16px; font-weight:bold;}
.pay-nav li.active{ background:#5997ca;}
.wx-code{ text-align:center; font-size:18px; padding-bottom:20px;}
em.pay-icon{ display:inline-block; width:23px; height:19px; vertical-align:middle; background:url(/image/icon.png) -34px -129px no-repeat; margin:-3px 7px 0 0;}
.pay-card{ overflow:hidden;}
.pay-card li{ float:left; width:192px; margin:0 20px 20px;}
.pay-card li input{ width:20px; height:20px; cursor:pointer; margin-right:2px;}
.pay-card li label{ display:inline-block; vertical-align:middle; cursor:pointer;}
.pay-card li label img{ width:163px; height:45px;}
.pay-more{ margin:0 0 0 20px;}
.pay-more a{ font-weight:bold; color:#2cb7c9; font-size:18px;}
.login-list input.find-code{ width:126px; height:50px; color:#fff; background:#fea600; border-radius:5px; border:0; margin-left:17px; border-radius:25px; cursor:pointer;}
.login-list input.find-code.no-code{ background:#ccc; cursor:auto;}
.find-text{ text-align:center; font-size:14px; color:#666; margin:-30px 0 20px;}
.find-text p{ font-size:20px; color:#1f1d1d; padding-top:10px;}
.pat-last{ text-align:center; font-size:18px; padding:20px 0 25px;}
i.error-icon{ display:inline-block; width:70px; height:70px; background:url(/image/icon.png) -227px 0 no-repeat;}
.notice-text{ font-size:20px; color:#666;}
.notice-text p{ font-size:24px; color:#1f1d1d; padding:20px 0 15px;}
.notice{ width:521px; background:#f5fbfc; border-radius:5px; padding-bottom:80px;}
.uploader-list li{ position:relative;}
.uploader-list li span.delete{ display:block; position:absolute; top:19px; right:0; width:24px; height:24px; background:url(/image/icon.png) -59px -129px no-repeat; cursor:pointer;}
.sure-btn{ height:40px; text-align:center; line-height:40px; color:#fff; font-size:16px; font-weight:bold; border:0; border-radius:4px; cursor:pointer; padding:0 35px; display:inline-block;}
.rent-caption{ text-align:center; height:102px; background:url(/image/img1.jpg) no-repeat; line-height:102px; color:#fff; font-weight:bold; font-size:24px; margin-top:-14px;}
.rent-show{ overflow:hidden; width:1329px; margin:20px auto;}
.rent-show li{ width:417px; height:110px; float:left; background:#fff; border-radius:5px; margin:0 13px; text-align:center; font-size:20px; font-weight:bold; color:#2cb7c9; padding-top:30px;}
.rent-show li em{ display:inline-block; vertical-align:middle; width:72px; height:82px; background:url(/image/img2.png) 0 0 no-repeat; margin-right:16px;}
.rent-show li em.sw2{ background-position:-75px 0; width:82px;}
.rent-show li em.sw3{ background-position:-160px 0; width:79px;}
.rent-service{ overflow:hidden; width:1302px; margin:0 auto 60px;}
.service-left{ width:650px; float:left; background:#fff; border-radius:5px; overflow:hidden;}
.service-right{ width:570px; height:334px; float:left; background:#fff; border-radius:5px; overflow:hidden; padding:0 41px;}
.service-right p{ font-size:18px; color:#0e0f0f; text-align:center; font-weight:bold; padding:22px 0 14px; border-bottom:2px solid #2cb7c9;}
.service-right .service-info{ font-size:16px; color:#666; margin:20px 0; line-height:28px; display:-webkit-box; -webkit-box-orient:vertical; -webkit-line-clamp:7; overflow:hidden; height:196px;}
a.service-more{ font-size:16px; color:#2cb7c9;}











